<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feito!</title>

  <link rel="icon" href="/images/logo-icon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/buttons.css" />
  <link rel="stylesheet" href="/css/page-save-confirm.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <main>
    <section class="page-save-confirm">
      <div class="message-container animate-up">
        <h1>Ebaaa!</h1>

        <p>O cadastro deu certo e foi enviado ao administrador para ser aprovado.<br>Agora é só esperar :)</p>

        <a href="/institutes" class="primary-button confirm" alt="Voltar" type="button">Voltar para o mapa</a>

      </div>

      <div class="background">
        <a><img src="images/bg-save.svg"></a>
      </div>
    </section>
  </main>
</body>

</html>